{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sentinel.secretName" . }}
  labels:
    {{- include "sentinel.labels" . | nindent 4 }}
type: Opaque
stringData:
  # Broker configuration using hyperfleet-broker library
  {{- if eq .Values.broker.type "rabbitmq" }}
  # RabbitMQ connection URL format: amqp://user:password@host:port/vhost
  BROKER_RABBITMQ_URL: {{ .Values.broker.rabbitmq.url | quote }}
  {{- else if eq .Values.broker.type "googlepubsub" }}
  # Google Pub/Sub project ID
  BROKER_GOOGLEPUBSUB_PROJECT_ID: {{ .Values.broker.googlepubsub.projectId | quote }}
  {{- end }}
{{- end }}
