{{- if not .Values.existingSecret }}
{{- if eq .Values.broker.type "rabbitmq" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sentinel.secretName" . }}
  labels:
    {{- include "sentinel.labels" . | nindent 4 }}
type: Opaque
stringData:
  # RabbitMQ connection URL format: amqp://user:password@host:port/vhost
  BROKER_RABBITMQ_URL: {{ .Values.broker.rabbitmq.url | quote }}
{{- end }}
{{- end }}
