{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sentinel.secretName" . }}
  labels:
    {{- include "sentinel.labels" . | nindent 4 }}
type: Opaque
stringData:
  BROKER_TYPE: {{ .Values.broker.type | quote }}
  {{- if eq .Values.broker.type "rabbitmq" }}
  BROKER_HOST: {{ .Values.broker.rabbitmq.host | quote }}
  BROKER_PORT: {{ .Values.broker.rabbitmq.port | quote }}
  BROKER_EXCHANGE: {{ .Values.broker.rabbitmq.exchange | quote }}
  BROKER_VHOST: {{ .Values.broker.rabbitmq.vhost | quote }}
  BROKER_EXCHANGE_TYPE: {{ .Values.broker.rabbitmq.exchangeType | quote }}
  RABBITMQ_USERNAME: {{ .Values.broker.rabbitmq.username | quote }}
  RABBITMQ_PASSWORD: {{ .Values.broker.rabbitmq.password | quote }}
  {{- else if eq .Values.broker.type "pubsub" }}
  BROKER_PROJECT_ID: {{ .Values.broker.pubsub.projectId | quote }}
  {{- else if eq .Values.broker.type "awsSqs" }}
  BROKER_REGION: {{ .Values.broker.sqs.region | quote }}
  BROKER_QUEUE_URL: {{ .Values.broker.sqs.queueUrl | quote }}
  {{- end }}
{{- end }}
